:root {
    /* ===========================
     Colors
  =========================== */

    --color-background: #060816;
    --color-surface: #0f172a;

    --color-primary: #00f5ff;
    --color-secondary: #8b5cf6;
    --color-accent: #f97316;

    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;

    /* ===========================
     Glass
  =========================== */

    --glass-bg: rgba(255, 255, 255, 0.08);

    /* ===========================
     Text
  =========================== */

    --text-primary: #ffffff;
    --text-secondary: #94a3b8;
}